<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="col-lg-5">
      <h4 class="mb-3">Create record:</h4>
      <form class="needs-validation" novalidate="">
        <div class="row g-3">
          <div class="col-12">
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
          </div>

          <div class="col-12">
            <%= form.label :description, class: "form-label" %>
            <%= form.text_area :description, class: "form-control" %>
          </div>

          <div class="col-md-5">
            <%= form.label :file, class: "form-label" %>
            <%= form.file_field :files, multiple: true, class: "form-control" %>
          </div>

          <div class="col-md-4">
            <%= form.label :images, class: "form-label" %>
            <%= form.file_field :images, multiple: true, class: "form-control" %>
          </div>

          <div class="col-md-3">
            <%= form.label :tag_list, class: "form-label" %>
            <%= form.text_field :tag_list, value: @record.tags.map(&:name).join(", "), class: "form-control" %>
          </div>
        </div>

        <hr class="my-4">

        <%= form.submit "Save", class: "w-100 btn btn-primary btn-lg"%>

      </form>
    </div>
  </div>
<% end %>