<header class="p-3 border-bottom">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mb-3">

      <%= link_to 'CATALOG', root_path, class: 'd-flex align-items-center mb-2 me-5 mb-lg-0 text-decoration-none fs-3 fw-bold' %>

      <!-- Main Navigation Menu using NavigationBuilder -->
      <nav class="main-navigation me-auto">
        <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
          <% builder = NavigationBuilder.new(current_user, request) %>
          <% builder.main_navigation.each do |item| %>
            <li class="nav-item <%= 'active' if item.active? %>">
              <%= link_to item.label, item.path, class: 'nav-link px-2' %>
              <% if item.children.any? %>
                <ul class="dropdown-menu">
                  <% item.children.each do |child| %>
                    <li><%= link_to child.label, child.path, class: 'dropdown-item' %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>

      <!-- User Navigation -->
      <% if user_signed_in? %>
        <div class="dropdown text-end ms-auto">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="user" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small dropdown-menu-end">
            <li><span class="dropdown-header"><%= current_user.full_name %></span></li>
            <li><hr class="dropdown-divider"></li>
            <% builder = NavigationBuilder.new(current_user, request) %>
            <% builder.user_navigation.first&.children&.each do |item| %>
              <% if item.label == 'Sign Out' %>
                <li><%= button_to item.label, item.path, method: :delete, class: 'dropdown-item' %></li>
              <% else %>
                <li><%= link_to item.label, item.path, class: 'dropdown-item' %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div class="ms-auto">
          <%= link_to 'Log In', new_user_session_path, class: 'nav-link px-2 link-body-emphasis' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link px-2 link-body-emphasis' %>
        </div>
      <% end %>

    </div>

    <!-- Breadcrumb Navigation -->
    <% if request.path != root_path %>
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <% builder = NavigationBuilder.new(current_user, request) %>
        <ol class="breadcrumb mb-0">
          <% builder.breadcrumbs.each do |crumb| %>
            <li class="breadcrumb-item <%= 'active' if crumb[:current] %>">
              <% if crumb[:current] %>
                <%= crumb[:label] %>
              <% else %>
                <%= link_to crumb[:label], crumb[:path] %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </nav>
    <% end %>
  </div>
</header>
