<%= render "records/partials/carousel", record: @record %>

<!-- Page Navigation Context -->
<div class="breadcrumb-section bg-light py-2 mb-4">
  <div class="container-sm">
    <% builder = NavigationBuilder.new(current_user, request) %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <% builder.breadcrumbs.each do |crumb| %>
          <li class="breadcrumb-item <%= 'active' if crumb[:current] %>">
            <% if crumb[:current] %>
              <%= crumb[:label] %>
            <% else %>
              <%= link_to crumb[:label], crumb[:path] %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </nav>
  </div>
</div>

<div class="container-sm pt-5">
  <div class="row g-5">
    <div class="col-md-8">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="pb-4 mb-0 border-bottom flex-grow-1">
          <%= @record.title %>
        </h3>
        
        <!-- Record Actions Navigation -->
        <div class="ms-3 btn-group" role="group">
          <% if user_signed_in? && current_user.id == @record.user_id %>
            <%= link_to 'Edit', edit_record_path(@record), class: 'btn btn-sm btn-outline-primary' %>
            <%= button_to 'Delete', record_path(@record), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
          <% end %>
        </div>
      </div>
      
      <div>
        <%= @record.description %>
      </div>
      <h4 class="mt-5">Files (<%= @record.files.count %>)</h4>
      <%= render "records/partials/table" %>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h5 class="mb-0">Details</h5>
          <div class="row">
            <div class="col-4"><strong>Uploaded:</strong></div>
            <div class="col-6"><%= @record.created_at.strftime("%B %d, %Y") %></div>
          </div>
          <div class="row">
            <div class="col-4"><strong>Software:</strong></div>
            <div class="col-6"><%= @record.software_list %></div>
          </div>
          <div class="row">
            <div class="col-4"><strong>Tags:</strong></div>
            <div class="col-6">
              <% @record.tags.each do |tag| %>
                <%= link_to tag.name, records_path(tag: tag.name), class: 'badge bg-secondary text-decoration-none me-1' %>
              <% end %>
            </div>
          </div>
        </div>


        <div>
          <h4 class="fst-italic">More from @<%= link_to @record.user.username, users_profile_path(id: @record.user_id) %></h4>
          <ul class="list-unstyled">
            <% @user_records.last(3).each do |user_record| %>
              <li>
                <%= link_to record_path(user_record), class: "d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" do %>
                  <%= image_tag user_record.images.first, class: "bd-placeholder-img", width: "100%", height: "96" %>
                  <div class="col-lg-8">
                    <h6 class="mb-0"><%= user_record.title %></h6>
                    <small class="text-body-secondary"><%= user_record.created_at.strftime("%d %B %Y") %></small>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>